body {
	text-align: center;
	background: url(images/lingerie_1.jpg);
	background-size: cover;
	color: hsl(0,60%,50%);
	font-family: 'Montserrat', sans-serif;
}

.topnav input[type=text] {
	background-size:100%;
	background-color:grey;
    float: right;
    word-spacing: 20px;
    padding: 6px;
    border-style: rounded;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
.topnav a.active {
    background-color: white;
    color: white;


#navbar {
	padding-right: 20px;
	word-spacing: 20px;

}
nav {
	background-color: grey;
	background-size: 100%;
	text-align: center;
	padding: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;


}
h1{
	font-size: 40px;
	font-weight: bold;
	color: hsl(0,60%,50%);
	font-family: 'Montserrat', sans-serif;
}

h2{
	font-size: 30px;
	font-style: italic;
	color: hsl(0,60%,50%);
	font-family: 'Montserrat', sans-serif;
}


p{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

hr{
	width: 200px;
}
#footerbar {
	padding-right: 20px;
	word-spacing: 40px;
}

footerbar {
	background-color: grey;
	background-size: 100%;
	text-align: center;
	padding: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
}