body{
	text-align: center;
	background-color: #FFFDD0;
	background-size: cover;
	color: hsl(0,60%,50%);
	font-family: Garamond;
}

h1{
	font-size: 40px;
	font-weight: bold;
	color: hsl(0,60%,50%);
}

h2{
	font-size: 30px;
	font-style: italic;
	color: hsl(0,60%,50%);
}


p{
	font-size: 20px;
}

hr{
	width: 200px;
}
